.container{
    margin-bottom: 100px;
}
.color-bg{
    background-color:#F0FFF0;
}
.image{
    width: 200px;
    height: 70px;
}
.padding{
    padding: 20px 20px;
}
.categorise img{
    width: 100px;
}
.cat{
    padding: 10px 20px;
    border-radius: 10px;
}