.container{
    margin-bottom: 60px;
}
.color-bg{
    background-color:#F0FFF0;
}
.image{
    width: 200px;
    height: 70px;
}
.padding{
    padding: 30px 50px;
}
.categorise img{
    width: 100px;
}
.cat{
    padding: 10px 20px;
    border-radius: 10px;
}
.padding1{
    padding: 40px 40px;
}
.card img{
    padding: 10px 10px;
}

